* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'FuturaDemiC';
  src: url('../assets/fonts/FuturaDemiC.eot');
  src: url('../assets/fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/FuturaDemiC.woff2') format('woff2'), url('../assets/fonts/FuturaDemiC.woff') format('woff'), url('../assets/fonts/FuturaDemiC.ttf') format('truetype'), url('../assets/fonts/FuturaDemiC.svg#FuturaDemiC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBookC';
  src: url('../assets/fonts/FuturaBookC.eot');
  src: url('../assets/fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/FuturaBookC.woff2') format('woff2'), url('../assets/fonts/FuturaBookC.woff') format('woff'), url('../assets/fonts/FuturaBookC.ttf') format('truetype'), url('../assets/fonts/FuturaBookC.svg#FuturaBookC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yeseva One';
  src: url('../assets/fonts/YesevaOne.eot');
  src: url('../assets/fonts/YesevaOne.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/YesevaOne.woff2') format('woff2'), url('../assets/fonts/YesevaOne.woff') format('woff'), url('../assets/fonts/YesevaOne.ttf') format('truetype'), url('../assets/fonts/YesevaOne.svg#YesevaOne') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
}
.wrapper {
  width: 100%;
  background: #000;
}
.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #000;
}
.main {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background: #000;
  overflow: hidden;
}
.container-header {
  max-width: 1440px;
  height: 5.1875rem;
  margin: 0rem  4rem 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-company h1 {
  margin-right: 2rem;
  color: #e3b873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'FuturaDemiC';
}
.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40.3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.menu-header__item {
  margin-right: 3.2375rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: 'FuturaBookC';
}
.menu-header__item:last-child {
  margin-right: 0;
}
.menu-header__link {
  text-decoration: none;
  color: #ffffff;
}
.menu-header__link:hover {
  color: #e3b873;
}
.menu-header__link_selected {
  text-decoration: none;
  color: #e3b873;
}
.menu-header__link_number {
  color: #e3b873;
}
.menu-button {
  width: 10.0625rem;
  height: 2.3125rem;
  font-family: 'FuturaDemiC';
  color: #ffffff;
  background: #e3b873;
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  outline: none;
}
.repair {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar {
  position: relative;
  width: 5%;
  height: 44.1875rem;
  background: #000000;
}
.sidebar__link {
  width: 11rem;
  position: absolute;
  margin-top: 17rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidebar__link_inst {
  margin-top: 6.5rem;
  display: inline-block;
  text-transform: uppercase;
  color: #e3b873;
  text-decoration: none;
  font-family: 'FuturaDemiC';
}
.sidebar__link_inst::after {
  content: ' ';
  width: 3.1875rem;
  height: 0.0625rem;
  background: #e3b873;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}
.overley-bg {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: 1;
}
.offer {
  position: relative;
  width: 94.5%;
  height: 44.1875rem;
  background: url(../assets/img/offer-bg.jpg);
  background-size: cover;
}
.offer-info {
  margin-top: 12.625rem;
  margin-left: 3.8125rem;
  position: relative;
  z-index: 2;
}
.offer-info__header {
  font-family: 'Yeseva One';
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}
.offer-info__header_gold {
  color: #e3b873;
}
.offer-info__discount {
  margin-top: 1.1rem;
  margin-bottom: 3.1875rem;
  font-weight: 100;
  line-height: 1.875rem;
  font-size: 1.375rem;
  color: #ffffff;
  font-family: 'FuturaBookC';
}
.offer-info .button {
  width: 12.9375rem;
  height: 3.1875rem;
  font-size: 0.9rem;
  font-family: 'FuturaDemiC';
  text-transform: uppercase;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: none;
  margin-right: 1.7rem;
  color: #ffffff;
  cursor: pointer;
}
.offer-info .button:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
}
.button-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  position: absolute;
  margin-top: 3rem;
  bottom: -2rem;
  width: 15.4375rem;
  height: 6.0625rem;
  background: #000000;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.button-scroll span {
  margin-left: 1rem;
  position: relative;
}
.button-scroll span .button-scroll_arrow {
  position: absolute;
  left: 0.55rem;
  top: 0.75rem;
}
.container-1 {
  height: 40.625rem;
  padding-top: 2rem;
}
.slide-bar {
  margin-top: 4.5rem;
  margin-left: 43%;
  width: 57%;
  margin-bottom: 2.8125rem;
}
.navigation-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-slider__item {
  margin-right: 3.8125rem;
  list-style: none;
}
.navigation-slider__link {
  font-family: 'Yeseva One';
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  opacity: .3;
}
.navigation-slider__link_selected {
  color: #e3b873;
  opacity: 1;
}
.navigation-slider__link:hover {
  color: #e3b873;
  opacity: 1;
}
.slider {
  margin-left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.info {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.info__label {
  font-family: 'Yeseva One';
  font-size: 27px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #E3B873;
}
.info__label::after {
  content: ' ';
  width: 3.1875rem;
  height: 0.0625rem;
  background: #e3b873;
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
}
.info__text {
  font-family: 'FuturaBookC', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.info__col-label {
  font-family: 'Yeseva One';
  font-size: 18px;
  text-transform: uppercase;
  color: #E3B873;
}
.info__col-text {
  font-family: 'FuturaBookC', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}
.info .col {
  width: 50%;
}
.completed-ptojects__button {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13.125rem;
}
.completed-ptojects__button_arrow {
  font-size: 40px;
  color: #ffffff;
}
.completed-ptojects__button .point {
  cursor: pointer;
  opacity: .3;
}
.completed-ptojects__button .point_selected {
  opacity: 1;
}
.completed-ptojects__button .point:hover {
  opacity: 1;
}
.photo-project {
  margin-left: 3.5%;
  width: 58%;
  position: relative;
}
.photo-project__img2 {
  position: absolute;
  left: 90%;
}
